<div class="top-hero-wrapper text-center">
 <div class="takasa_tyousei">
   <h1 class="text-white">УЄфућ▒сЂФсѓ│сЃАсЃ│сЃѕсЂЌсЂдсЂЈсЂасЂЋсЂё­ЪњЏ</h1>
 </div>
  <%= form_for @comment do |f| %>
    <div class ="form-group">
      <%= f.text_area :comment,class:'form-control' %>
    </div>
    <%= f.submit 'ТіЋуе┐', class:'btn btn-black btn-block' %>
  <% end %>
</div>
