<div class ="comment-index-wrapper">
сђђ<div class="top-hero-wrapper text-center">
 сђђ<div class="takasa_tyousei">
   <h1 class="text-white">УЄфућ▒сЂФсѓ│сЃАсЃ│сЃѕсЂЌсЂдсЂЈсЂасЂЋсЂё­ЪњЏ</h1>
 </div>
  сђђсђђ<%= form_for @comment do |f| %>
    сђђсђђ<div class ="form-group">
      сђђсђђ<%= f.text_area :comment,class:'form-control' %>
    сђђсђђ</div>
    сђђсђђ<%= f.submit 'ТіЋуе┐', class:'btn btn-black btn-block' %>
  сђђсђђ<% end %>
сђђ</div>
</div>